In [3]:
# Let's download the postalcode_canada.csv file that was created and saved in last assignment
import pandas as pd
df_postcode = pd.read_csv('postcode_canada')
df_postcode.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [4]:
df_postcode.set_index('Postal Code',inplace=True)
df_postcode.head()

                      Borough                                 Neighborhood
Postal Code
M3A                North York                                    Parkwoods
M4A                North York                             Victoria Village
M5A          Downtown Toronto                    Regent Park, Harbourfront
M6A                North York             Lawrence Manor, Lawrence Heights
M7A          Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
df_lat_lang = pd.read_csv('C:\\Users\\vtaor\\Downloads\\Geospatial_Coordinates.csv')

In [6]:
df_lat_lang.set_index('Postal Code', inplace=True)
df_lat_lang.head()

              Latitude  Longitude
Postal Code
M1B          43.806686 -79.194353
M1C          43.784535 -79.160497
M1E          43.763573 -79.188711
M1G          43.770992 -79.216917
M1H          43.773136 -79.239476

In [7]:
result = pd.concat([df_postcode, df_lat_lang], axis=1, join='inner')
result.head()

,Borough,Neighborhood,Latitude,Longitude
Postal Code,,,,
M3A,North York,Parkwoods,43.753259,-79.329656
M4A,North York,Victoria Village,43.725882,-79.315572
M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [8]:
result.reset_index(inplace=True)
result.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [9]:
result.shape

(103, 5)

In [11]:
# Write result to a csv so we can retrive it easily later
result.to_csv(path_or_buf='postcode_lat_lang_canada')